{{with .Command -}}
# {{.Name}} - {{.Short}}

{{.Long}}

{{if $.NoResultsFound}}
---
**No {{$.RequestedTypes}} found{{if $.QueryString}} for {{$.QueryString}}{{end}}!**

Showing a list of alternatives:
{{end}}
{{if $.CommandIsRoot}}
{{if $.ShowRootDocumentationHint}}
Run `{{$.HelpCommand}}` to explore documentation topics.
{{end}}
{{else}}
For more help, run:
`{{$.HelpCommand}} {{.Name}}`
{{end}}

Run `{{$.HelpCommand}} --ui` to open the interactive help TUI.
{{end}}
