{{with .Topic -}}
# {{.Title}}:
{{.Short}}
{{end}}
---
{{if $.NoResultsFound}}
**No {{$.RequestedTypes}} found{{if $.QueryString}} for {{$.QueryString}}{{end}}!**

Showing a list of alternatives:
{{end}}
