/* statusbar.css */

[data-part='statusbar'] {
  border-top: 2px solid #000;
  padding: 5px 10px;
  font-size: 10px;
  color: #777;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

[data-part='statusbar-count'],
[data-part='statusbar-version'] {
  font-size: 10px;
}
