{{with .Help -}}
{{if gt (len .AllGeneralTopics) 0}}

{{range .AllGeneralTopics}}
## {{.Title}}:
{{.Short}}

To learn more, run:
    `{{$.HelpCommand}} {{.Slug}}`
{{end -}}
{{end -}}
{{if gt (len .AllExamples) 0}}

## Examples:
{{- range .AllExamples}}
### {{.Title}}

{{.Short}}
{{end -}}
{{end -}}
{{if gt (len .AllApplications) 0}}

## Applications:
{{- range .AllApplications}}
### {{.Title}}:
{{.Short}}

To learn more, run: `{{$.HelpCommand}} {{.Slug}}`
{{end}}
{{end -}}
{{if gt (len .AllTutorials) 0}}
## Tutorials:
{{- range .AllTutorials}}
### {{.Title}}:
{{.Short}}

To learn more, run: `{{$.HelpCommand}} {{.Slug}}`
{{end}}
{{end -}}
{{end -}}