/* empty-state.css */

[data-part='empty-state'] {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 13px;
}

[data-part='empty-state-icon'] {
  font-size: 40px;
  margin-bottom: 10px;
  filter: grayscale(1);
  display: block;
}

[data-part='empty-state-label'] {
  text-align: center;
}
